.navbar {
	background-color: var(--clr-primary-dark);
	display: flex;
	justify-content: center;
	height: 50px;
}

.navContainer {
	width: 100%;
	max-width: var(--max-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	text-decoration: none;
}

.logo > h1 {
	font-size: 1rem;
	font-weight: 500;
	color: var(--clr-white);
}

.navItems {
	display: flex;
	gap: 10px;
}
