@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	--clr-primary-dark: #003580;
	--clr-primary-light: #0071c2;
	--clr-grey-dark: #555;
	--clr-grey-light: #ededed;
	--clr-yellow: #febb02;
	--clr-green: #008009;
	--clr-white: #fff;
	--clr-black: #222;
	--transition: all 0.2s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1050px;
	--fixed-width: 620px;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn {
	border: none;
	border-radius: var(--radius);
	transition: transform 100ms linear;
	cursor: pointer;
	padding: 5px 10px;
}

.btn:active {
	outline: none;
	transform: scale(95%);
}

.btn-dark {
	color: var(--clr-white);
	background-color: var(--clr-primary-light);
}

.btn-light {
	color: var(--clr-primary-dark);
	background-color: var(--clr-grey-light);
}
